In [2]:
from ankipandas import Collection 
import pandas as pd
import os
my_coll=Collection()
print("gop")    
print(type(my_coll.cards))
my_coll.cards.to_csv("cards_data.csv", encoding="utf8")
my_coll.notes.to_csv("notes_data.csv",encoding="utf8")
my_coll.cards=my_coll.cards.merge_notes()
my_coll.cards.to_csv("cards_all_data.csv",encoding="utf8")
# my_coll.cards.

INFO: Searching for database. This might take some time. You can speed this up by specifying a search path or directly entering the path to your database.
WARNING: The search will stop at the first hit, so please verify that the result is correct (for example in case there might be more than one Anki installation)

gop
<class 'ankipandas.ankidf.AnkiDataFrame'>

In [36]:
import matplotlib.pyplot as plt

df_cards = my_coll.cards.copy()

df_cards2 = my_coll.cards[my_coll.cards.has_tag("leech")]

count2 = df_cards2.value_counts("cdeck")
count1 = df_cards.value_counts("cdeck")

# print(count1)
count1=count1.to_frame().reset_index()
count2=count2.to_frame().reset_index()
print(count1)

# df1=pd.DataFrame(count1)
# df2=pd.DataFrame(count2)
# print(type(df2))
# print(df1)
count1.merge(count2,on="cdeck",how="left")

                             cdeck     0
0                  daily knowledge  4271
1              Englisch Wortschatz  2617
2                            Kunst  1192
3   US States, Locations, Capitals   662
4                            Mathe   393
..                             ...   ...
90                        Standard     2
91                       Parisisch     2
92                    MathePapers     2
93         Englisch Wortschatz Neu     2
94      japanischnichtjyoyokanjis     1

[95 rows x 2 columns]

                             cdeck   0_x   0_y
0                  daily knowledge  4271   8.0
1              Englisch Wortschatz  2617  84.0
2                            Kunst  1192   6.0
3   US States, Locations, Capitals   662   NaN
4                            Mathe   393   NaN
..                             ...   ...   ...
90                        Standard     2   NaN
91                       Parisisch     2   NaN
92                    MathePapers     2   NaN
93         Englisch Wortschatz Neu     2   NaN
94      japanischnichtjyoyokanjis     1   NaN

[95 rows x 3 columns]